@for $iterador from 1 through 3{
    .card-#{$iterador}{
        animation-name: animacion#{$iterador} ;

        @keyframes animacion#{$iterador}{
            100%{
                transform: scale(20% * $iterador);
            }
        }
    }
}


@for $iterador from 1 through 2{
    .titleDestacados{
        animation-name:animador#{$iterador};

        @keyframes titilo {
            100%{
                transform: scale(10%);
            }
        }
    }
}